{% extends "AppLibros/padre.html" %}

{% load static %}

{% block contenidoQueCambia1 %} Resultados de búsqueda {% endblock %}

{% block contenidoQueCambia2 %}

{% if mensaje %}
<h2>{{ mensaje }}</h2>

{% else %}


<h1>Resultados de la búsqueda: </h1>


{% for libro in libros %}
 
<h3>{{ libro.titulo }}</h3>
<ul>
    <li> Autor: {{ libro.autor }}</li>
    <li> ISBN: {{ libro.isbn }}</li>
    <li> Descripción: {{ libro.descripcion }}</li>
    <li> Fecha de publicación: {{ libro.publication_date }}</li>
    <li> Editorial: {{ libro.editorial }}</li>
</ul>

{% endfor %}

<a href="{% url 'BusquedaLibro' %}">Buscar otro libro</a>


{% endif %}

{% endblock %}

